# Build output
/binary/
/boot/
/cache/
/chroot/
/live/
config/includes.binary/live/

# Generated metadata
*.contents
*.files
*.packages
binary.modified_timestamps

# ISO images
*.iso

# macOS
.DS_Store
