[SddmGreeterTheme]
Name=Breeze - Hannah Montana
Name[ar]=نسيم - Hannah Montana
Name[az]=Breeze - Hannah Montana
Name[be]=Breeze - Hannah Montana
Name[bg]=Breeze - Hannah Montana
Name[ca]=Brisa - Hannah Montana
Name[ca@valencia]=Brisa - Hannah Montana
Name[cs]=Breeze - Hannah Montana
Name[da]=Breeze - Hannah Montana
Name[de]=Breeze - Hannah Montana
Name[el]=Breeze - Hannah Montana
Name[en_GB]=Breeze - Hannah Montana
Name[eo]=Brizo - Hannah Montana
Name[es]=Brisa - Hannah Montana
Name[eu]=Breeze - Hannah Montana
Name[fi]=Breeze - Hannah Montana
Name[fr]=Breeze - Hannah Montana
Name[gl]=Brisa - Hannah Montana
Name[he]=בריזה - Hannah Montana
Name[hu]=Breeze - Hannah Montana
Name[ia]=Breeze (Brisa) - Hannah Montana
Name[id]=Breeze - Hannah Montana
Name[is]=Breeze - Hannah Montana
Name[it]=Brezza - Hannah Montana
Name[ka]=Breeze - Hannah Montana
Name[ko]=Breeze - Hannah Montana
Name[lt]=Breeze - Hannah Montana
Name[lv]=Breeze - Hannah Montana
Name[nb]=Breeze - Hannah Montana
Name[nl]=Breeze - Hannah Montana
Name[nn]=Breeze - Hannah Montana
Name[pa]=ਬਰੀਜ਼ - Hannah Montana
Name[pl]=Bryza - Hannah Montana
Name[pt_BR]=Breeze - Hannah Montana
Name[ro]=Breeze - Hannah Montana
Name[ru]=Breeze - Hannah Montana
Name[sa]=वायुः - Hannah Montana
Name[sk]=Vánok - Hannah Montana
Name[sl]=Sapica - Hannah Montana
Name[sv]=Breeze - Hannah Montana
Name[ta]=பிரீஸ் - Hannah Montana
Name[tr]=Esinti - Hannah Montana
Name[uk]=Breeze - Hannah Montana
Name[x-test]=xxBreezexx - Hannah Montana
Name[zh_CN]=Breeze 微风 - Hannah Montana
Name[zh_TW]=Breeze - Hannah Montana
Description=Breeze - Hannah Montana
Description[ar]=نسيم - Hannah Montana
Description[az]=Breeze - Hannah Montana
Description[be]=Breeze - Hannah Montana
Description[bg]=Breeze - Hannah Montana
Description[ca]=Brisa - Hannah Montana
Description[ca@valencia]=Brisa - Hannah Montana
Description[cs]=Breeze - Hannah Montana
Description[da]=Breeze - Hannah Montana
Description[de]=Breeze - Hannah Montana
Description[el]=Breeze - Hannah Montana
Description[en_GB]=Breeze - Hannah Montana
Description[eo]=Brizo - Hannah Montana
Description[es]=Brisa - Hannah Montana
Description[eu]=Brisa - Hannah Montana
Description[fi]=Breeze - Hannah Montana
Description[fr]=Breeze - Hannah Montana
Description[gl]=Brisa. - Hannah Montana
Description[he]=בריזה - Hannah Montana
Description[hu]=Breeze - Hannah Montana
Description[ia]=Breeze (Brisa) - Hannah Montana
Description[id]=Breeze - Hannah Montana
Description[is]=Breeze - Hannah Montana
Description[it]=Brezza - Hannah Montana
Description[ka]=Breeze - Hannah Montana
Description[ko]=Breeze - Hannah Montana
Description[lt]=Breeze - Hannah Montana
Description[lv]=Breeze - Hannah Montana
Description[nb]=Breeze - Hannah Montana
Description[nl]=Breeze - Hannah Montana
Description[nn]=Breeze - Hannah Montana
Description[pa]=ਬਰੀਜ਼ - Hannah Montana
Description[pl]=Bryza - Hannah Montana
Description[pt_BR]=Breeze - Hannah Montana
Description[ro]=Briză - Hannah Montana
Description[ru]=Breeze - Hannah Montana
Description[sa]=वायुः - Hannah Montana
Description[sk]=Vánok - Hannah Montana
Description[sl]=Sapica - Hannah Montana
Description[sv]=Breeze - Hannah Montana
Description[ta]=பிரீஸ் - Hannah Montana
Description[tr]=Esinti - Hannah Montana
Description[uk]=Breeze - Hannah Montana
Description[x-test]=xxBreezexx - Hannah Montana
Description[zh_CN]=Breeze 微风 - Hannah Montana
Description[zh_TW]=Breeze - Hannah Montana
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=breeze-hml
Theme-API=2.0
QtVersion=6
